.form-control.switch {
  background: transparent;
  border-color: transparent;
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.switch-label {
  font-weight: normal;
  margin-bottom: 0;
}

.switch-label.font-weight-bold {
  font-weight: bold;
}

.switch {
  margin: 0 5px;
}

.switch-container .shiny-input-container:not(.time) {
  align-items: center;
}
